<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>

	<div th:fragment="custnavbar">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#navbar" aria-expanded="false"
						aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">TCS</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a th:href="@{/profile/view}">Home</a></li>
						<li th:if="${#authorization?.expression('!isAuthenticated()')}"><a th:href="@{/register}">Register</a></li>
						<li th:if="${#authorization?.expression('isAuthenticated()')}"><a th:href="@{/profile/view}">Profiles List</a></li>
						<li th:if="${role!='USER'?role.name=='USER':false}"><a th:href="@{/profile/add}">Register Profile</a></li>
						<li th:if="${role!='USER'?role.name=='USER':false}"><a th:href="@{/uploadExcelFile}">Upload Profiles</a></li>
						<li th:if="${role!='BRM'?role.name=='BRM':false}"><a th:href="@{/report}">Report</a></li>
						<li sec:authorize="hasRole('SPOC')"><a th:href="@{/SPOC/info}">SPOC Info</a></li>
						<li sec:authorize="hasRole('PMP')"><a th:href="@{/PMP/info}">PMP Info</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li th:if="${#authorization?.expression('isAuthenticated()')}">
							<form th:action="@{/logout}" method="post" class="navbar-form">
								<button type="submit" class="btn btn-primary">Logout</button>
							</form>
						</li>
						<li th:if="${#authorization?.expression('!isAuthenticated()')}">
							<div class="navbar-form">
								<a th:href="@{/login}" class="btn btn-primary">Login</a>
							</div>

						</li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
			<!--/.container-fluid -->
		</nav>
	</div>

</body>
</html>