<!DOCTYPE html>
<html xmlns:th="http://www.thyemleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="layout/custheader :: custheader"/>
<body>
	<div class="container">
		<div th:include="layout/custnavbar :: custnavbar"></div>


		<div class="jumbotron" style="min-height: 500px">
	<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Send email alert</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        sending email alert for SPOCs and BRMs
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
	
	<div class="row" >
		<table class="table">
		  <thead>
		    <tr>
		      <th>Vendor</th>
		      <th>Candidate Name</th>
		      <th>BRM</th>
		      <th>SPOC</th>
		      <th>Team</th>
		      <th>Registered</th>
		      <th>Special skills</th>
		      <th>location</th>
		      <th>Last Changed</th>
		      <th>Last Status</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr th:each="candidate:${reportList}" >
		      <td th:text="${candidate.vendor}">Mark</td>
		      <td th:text="${candidate.candidate_name}">Otto</td>
		      <td th:text="${candidate.brm}">@mdo</td>
		      <td th:text="${candidate.spoc}">@mdo</td>
		      <td th:text="${candidate.team}">@mdo</td>
		      <td th:text="${candidate.registerd}">@mdo</td>
		      <td th:text="${candidate.any_special_skill}">@mdo</td>
		      <td th:text="${candidate.location}">@mdo</td>
		      <td th:text="${candidate.changed_to}">@mdo</td>
		      <td th:text="${candidate.last_change_date}">@mdo</td>
		    </tr>
		    
     
		  </tbody>
		</table>
		
	</div>
</div>


		<footer th:replace="layout/footer :: footer"></footer>

	</div>

</body>
</html>
